<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div id="loginDiv" class="modal-content">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="signInDivButton" href="#">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="signUpDivButton" href="#">Sign Up</a>
                        </li>
                    </ul>
                </div>
                <div id="signInDiv" class="card-body">
                    <form action="/users/login" id="signInForm" method="POST">
                        <div class="form-group">
                            <label for="signInInfo" class="form-label"><i class="fas fa-user mr-2"></i>Username or Email: </label>
                            <input class="form-control" type="text" name="loginInfo" id="signInInfo" placeholder="Username or Email" />
                        </div>
                        <div class="form-group">
                            <label for="signInPassword" class="form-label"><i class="fas fa-lock mr-2"></i>Password: </label>
                            <input class="form-control" type="password" name="password" id="signInPassword" placeholder="Password" maxlength="16" />
                        </div>
                        <div>
                            <button id="signInButton" class="btn btn-lg btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt mr-2"></i>Sign In</button>
                        </div>
                    </form>
                    <div>
                        <div id="signInClientError"></div>
                        <div id="signInServerError"></div>
                    </div>
                </div>
                <div id="signUpDiv" class="card-body">
                    <form action="/users/new" id="signUpForm" method="POST">
                        <div class="form-group">
                            <label for="signUpName"><i class="fas fa-user mr-2"></i>Username:<span class="requiredfield">*</span></label>
                            <input type="text" class="form-control" name="username" id="signUpName" aria-describedby="signUpNameHelp" placeholder="e.g. John Doe" value="{{newUser.username}}" maxlength="16"/>
                            <small id="signUpNameHelp" class="form-text text-muted">1. username couldn't be changed; 2. must contain 6-16 characters</small>
                        </div>
                        <div class="form-group">
                            <label for="signUpPassword"><i class="fas fa-lock mr-2"></i>Password:<span class="requiredfield">*</span></label>
                            <input type="password" class="form-control" name="password" id="signUpPassword" placeholder="e.g. John_Doe_123" maxlength="16"/>
                                    
                            <label for="signUpPassword2"><i class="fas fa-lock mr-2"></i>Confirm Password:<span class="requiredfield">*</span></label>
                            <input type="password" class="form-control" id="signUpPassword2" aria-describedby="signUpPasswordHelp" placeholder="e.g. John_Doe_123" maxlength="16"/>
                            <small id="signUpPasswordHelp" class="form-text text-muted">1. different from username; 2. only letters, numbers and underscores; 3. must contain 6-16 letters; 4. at least one uppercase letter</small>
                        </div>
                        <div class="form-group">
                            <label for="signUpEmail"><i class="fas fa-envelope mr-2"></i>Email:<span class="requiredfield">*</span></label>
                            <input type="email" class="form-control" name="email" id="signUpEmail" placeholder="username@example.com" value="{{newUser.email}}"/>
                        </div>
                        <fieldset class="form-group">
                            <legend class="col-form-label"><i class="fas fa-phone-alt mr-2"></i>Phone Number:<span class="requiredfield">*</span></legend>
                            <div id="signUpPhoneDiv">
                                <label><input type="hidden" name="phoneNumber" id="signUpPhoneNumber" /></label>
                                        
                                <label for="signUpPhonePart1">(+1)</label>
                                <input id="signUpPhonePart1" class="signUpPhone signUpPhone3 form-control" type="text" maxlength="3" value="{{phone.[0]}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                        
                                <label for="signUpPhonePart2">-</label>
                                <input id="signUpPhonePart2" class="signUpPhone signUpPhone3 form-control" type="text" maxlength="3" value="{{phone.[1]}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>     
                                        
                                <label for="signUpPhonePart3">-</label>
                                <input id="signUpPhonePart3" class="signUpPhone form-control" type="text" maxlength="4" value="{{phone.[2]}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                            </div>
                        </fieldset>
                        <div>
                            <button id="signUpButton" class="btn btn-md btn-success btn-block" type="submit"><i class="fas fa-user-plus mr-2"></i>Sign Up</button>
                        </div>
                    </form>
                    <div class="signUpErrorDiv">
                        <div id="signUpNameError"></div>
                        <div id="signUpPasswordError"></div>
                        <div id="signUpEmailError"></div>
                        <div id="signUpPhoneError"></div>
                        <div id="signUpServerError"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>