<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jersey City Rental Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/919d8e6219.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/houses"><i class="fas fa-laptop-house mr-2"></i>Jersey City House Rental Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav ml-auto">
                {{#if currentUser}}
                <li class="nav-item"><a class="nav-link" href="/users/{{currentUser.id}}"><i class="fas fa-user-cog mr-2"></i>Signed In As <span id="currentUser">{{currentUser.name}}</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/users/logout"><i class="fas fa-sign-out-alt mr-2"></i>Sign Out</a></li>
                {{else}}
                <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt mr-2"></i>Login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    
    <main>
        <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div id="loginDiv" class="modal-content">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signInDivButton" href="#">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="signUpDivButton" href="#">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div id="signInDiv" class="card-body">
                            <form action="/users/login" id="signInForm" method="POST">
                                <div class="form-group">
                                    <label for="signInInfo" class="form-label"><i class="fas fa-user mr-2"></i>Username or Email: </label>
                                    <input class="form-control" type="text" name="loginInfo" id="signInInfo" placeholder="Username or Email" />
                                </div>
                                <div class="form-group">
                                    <label for="signInPassword" class="form-label"><i class="fas fa-lock mr-2"></i>Password: </label>
                                    <input class="form-control" type="password" name="password" id="signInPassword" placeholder="Password" maxlength="16" />
                                </div>
                                <div>
                                    <button id="signInButton" class="btn btn-lg btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt mr-2"></i>Sign In</button>
                                </div>
                            </form>
                            <div>
                                <div id="signInClientError"></div>
                                <div id="signInServerError">{{#if hasSignInErrors}}<div>{{signInError}}</div>{{/if}}</div>
                            </div>
                        </div>
                        <div id="signUpDiv" class="card-body">
                            <form action="/users/new" id="signUpForm" method="POST">
                                <div class="form-group">
                                    <label for="signUpName"><i class="fas fa-user mr-2"></i>Username:<span class="requiredfield">*</span></label>
                                    <input type="text" class="form-control" name="username" id="signUpName" aria-describedby="signUpNameHelp" placeholder="e.g. John Doe" value="{{newUser.username}}" maxlength="16"/>
                                    <small id="signUpNameHelp" class="form-text text-muted">1. username couldn't be changed; 2. must contain 6-16 characters</small>
                                </div>
                                <div class="form-group">
                                    <label for="signUpPassword"><i class="fas fa-lock mr-2"></i></i>Password:<span class="requiredfield">*</span></label>
                                    <input type="password" class="form-control" name="password" id="signUpPassword" placeholder="e.g. John_Doe_123" maxlength="16"/>
                                    
                                    <label for="signUpPassword2"><i class="fas fa-lock mr-2"></i>Confirm Password:<span class="requiredfield">*</span></label>
                                    <input type="password" class="form-control" id="signUpPassword2" aria-describedby="signUpPasswordHelp" placeholder="e.g. John_Doe_123" maxlength="16"/>
                                    <small id="signUpPasswordHelp" class="form-text text-muted">1. different from username; 2. only letters, numbers and underscores; 3. must contain 6-16 letters; 4. at least one uppercase letter</small>
                                </div>
                                <div class="form-group">
                                    <label for="signUpEmail"><i class="fas fa-envelope mr-2"></i>Email:<span class="requiredfield">*</span></label>
                                    <input type="email" class="form-control" name="email" id="signUpEmail" placeholder="username@example.com" value="{{newUser.email}}"/>
                                </div>
                                <fieldset class="form-group">
                                    <legend class="col-form-label"><i class="fas fa-phone-alt mr-2"></i>Phone Number:<span class="requiredfield">*</span></legend>
                                    <div id="signUpPhoneDiv">
                                        <label><input type="hidden" name="phoneNumber" id="signUpPhoneNumber" /></label>
                                        
                                        <label for="signUpPhonePart1">(+1)</label>
                                        <input id="signUpPhonePart1" class="signUpPhone signUpPhone3 form-control" type="text" maxlength="3" value="{{phone.[0]}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                        
                                        <label for="signUpPhonePart2">-</label>
                                        <input id="signUpPhonePart2" class="signUpPhone signUpPhone3 form-control" type="text" maxlength="3" value="{{phone.[1]}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>     
                                        
                                        <label for="signUpPhonePart3">-</label>
                                        <input id="signUpPhonePart3" class="signUpPhone form-control" type="text" maxlength="4" value="{{phone.[2]}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                    </div>
                                </fieldset>
                                <div>
                                    <button id="signUpButton" class="btn btn-md btn-success btn-block" type="submit"><i class="fas fa-user-plus mr-2"></i>Sign Up</button>
                                </div>
                            </form>
                            <div class="signUpErrorDiv">
                                <div id="signUpNameError"></div>
                                <div id="signUpPasswordError"></div>
                                <div id="signUpEmailError"></div>
                                <div id="signUpPhoneError"></div>
                                <div id="signUpServerError">
                                {{#if hasSignUpErrors}}
                                    {{#each signUpError}}
                                    <div>{{this}}</div>
                                    {{/each}}
                                {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{{body}}}
    </main>

    {{!-- <footer>
        <a href="/houses">Main Page</a>
    </footer> --}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {{#if partial}}{{> (lookup . 'partial') }}{{/if}}
</body>
</html>